<Template name="train">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Rain Delayed Information</h3>
        </div>
        <!-- panel body -->
        <div class="panel-body crowd-notify-scroll">
              
          {{#with trainInfo}}
          <div class="alert alert-success alert-dismissable">
             {{depatureTime}} {{toTrStationName}} train will be {{ delayedBy }} minutes late today
           </div>  
          {{else}}
            No notifications as yet.
          {{/with}}
        </div>
      </div>
</Template>